<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.crew4dev.forksnknife">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <!--
        <permission
            android:name="ru.crew4dev.forksnknives.fileprovider.READ"
            android:description="@string/perm_read"
            android:label="@string/perm_read_label" />
        <uses-permission android:name="com.company.app.fileprovider.READ" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ru.crew4dev.forksnknives.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="ru.crew4dev.forksnknives.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.EditRecActivity"
            android:label="@string/title_activity_edit_rec"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Activites.ViewRecActivity"
            android:label="@string/title_activity_view_rec"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Activites.AboutActivity"
            android:label="@string/title_activity_about_rec"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.crew4dev.forksnknife.Activites.MainActivity" />
        </activity>
        <activity
            android:name=".Activites.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activites.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.crew4dev.forksnknife.Activites.MainActivity" />
        </activity>
        <activity
            android:name=".Activites.CoockingActivity"
            android:label="@string/title_activity_coocking"
            android:screenOrientation="portrait" />
        <activity android:name=".Activites.CoockingActivity2" />
        <activity
            android:name=".Activites.ShoppingActivity"
            android:label="@string/title_activity_shoppng" />
    </application>

</manifest>