<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavel.elagin.ladle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.EditRecActivity"
            android:label="@string/title_activity_edit_rec"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Activites.ViewRecActivity"
            android:label="@string/title_activity_view_rec"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Activites.AboutActivity"
            android:label="@string/title_activity_about_rec"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>